geokassa/bin/Debug/geokassa_.1.2.0.nupkg
geokassa/bin/Debug/geokassa_.1.0.0.nupkg
geokassa/bin/Debug/netcoreapp2.1/geokassa_.deps.json
geokassa/bin/Debug/netcoreapp2.1/geokassa_.dll
geokassa/bin/Debug/netcoreapp2.1/geokassa_.pdb
geokassa/bin/Debug/netcoreapp2.1/geokassa_.runtimeconfig.dev.json
geokassa/bin/Debug/netcoreapp2.1/geokassa_.runtimeconfig.json
geokassa/bin/Debug/netcoreapp2.1/gridfiles_.dll
geokassa/bin/Debug/netcoreapp2.1/gridfiles_.pdb
geokassa/obj/Debug/geokassa_.1.0.0.nuspec
geokassa/obj/Debug/netcoreapp2.1/geokassa_.dll
geokassa/obj/Debug/netcoreapp2.1/geokassa_.pdb
geokassa/obj/Release/geokassa_.1.0.0.nuspec
geokassa/obj/Release/netcoreapp2.1/geokassa_.dll
geokassa/obj/Release/netcoreapp2.1/geokassa_.pdb
gridfiles/bin/Release/netcoreapp2.1/gridfiles_.pdb
gridfiles/bin/Debug/netcoreapp2.1/gridfiles_.deps.json
gridfiles/bin/Debug/netcoreapp2.1/gridfiles_.dll
gridfiles/bin/Debug/netcoreapp2.1/gridfiles_.pdb
gridfiles/obj/Debug/netcoreapp2.1/gridfiles_.dll
gridfiles/obj/Debug/netcoreapp2.1/gridfiles_.pdb
gridfiles/obj/Release/netcoreapp2.1/gridfiles_.dll
gridfiles/obj/Release/netcoreapp2.1/gridfiles_.pdb
geokassa/bin/Release/netcoreapp2.1/geokassa_.pdb
geokassa/bin/Release/netcoreapp2.1/gridfiles_.pdb
geokassa/bin/Release/netcoreapp2.1/publish/gridfiles_.pdb
geokassa/bin/Release/netcoreapp2.1/publish/geokassa_.pdb
geokassa/obj/Debug/geokassa.1.0.0.nuspec
geokassa/obj/Release/geokassa.1.0.0.nuspec
geokassa/bin/Debug/geokassa.1.0.0.nupkg
geokassa/obj/geokassa.csproj.nuget.cache
geokassa/obj/GeoKassa.csproj.nuget.g.props
geokassa/obj/GeoKassa.csproj.nuget.g.targets
geokassa/obj/project.assets.json
geokassa/obj/Debug/geokassa.1.2.0.nuspec
geokassa/obj/Debug/netcoreapp2.1/geokassa.AssemblyInfo.cs
geokassa/obj/Debug/netcoreapp2.1/geokassa.AssemblyInfoInputs.cache
geokassa/obj/Debug/netcoreapp2.1/geokassa.assets.cache
geokassa/obj/Debug/netcoreapp2.1/geokassa.csproj.CopyComplete
geokassa/obj/Debug/netcoreapp2.1/geokassa.csproj.CoreCompileInputs.cache
geokassa/obj/Debug/netcoreapp2.1/geokassa.csproj.FileListAbsolute.txt
geokassa/obj/Debug/netcoreapp2.1/geokassa.csprojAssemblyReference.cache
geokassa/obj/Debug/netcoreapp2.1/geokassa.dll
geokassa/obj/Debug/netcoreapp2.1/geokassa.pdb
geokassa/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
geokassa/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
geokassa/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
geokassa/obj/Release/geokassa.1.2.0.nuspec
geokassa/obj/Release/netcoreapp2.1/geokassa.AssemblyInfo.cs
geokassa/obj/Release/netcoreapp2.1/geokassa.AssemblyInfoInputs.cache
geokassa/obj/Release/netcoreapp2.1/geokassa.assets.cache
geokassa/obj/Release/netcoreapp2.1/geokassa.csproj.CopyComplete
geokassa/obj/Release/netcoreapp2.1/geokassa.csproj.CoreCompileInputs.cache
geokassa/obj/Release/netcoreapp2.1/geokassa.csproj.FileListAbsolute.txt
geokassa/obj/Release/netcoreapp2.1/geokassa.csprojAssemblyReference.cache
geokassa/obj/Release/netcoreapp2.1/geokassa.dll
geokassa/obj/Release/netcoreapp2.1/geokassa.pdb
geokassa/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
geokassa/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
geokassa/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
gridfiles/obj/gridfiles.csproj.nuget.cache
gridfiles/obj/GridFiles.csproj.nuget.g.props
gridfiles/obj/GridFiles.csproj.nuget.g.targets
gridfiles/obj/project.assets.json
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.AssemblyInfo.cs
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.AssemblyInfoInputs.cache
gridfiles/obj/Debug/netcoreapp2.1/GridFiles.assets.cache
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.csproj.CoreCompileInputs.cache
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.csproj.FileListAbsolute.txt
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.dll
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.pdb
gridfiles/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
gridfiles/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
gridfiles/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
gridfiles/obj/Release/netcoreapp2.1/gridfiles.AssemblyInfo.cs
gridfiles/obj/Release/netcoreapp2.1/gridfiles.AssemblyInfoInputs.cache
gridfiles/obj/Release/netcoreapp2.1/GridFiles.assets.cache
gridfiles/obj/Release/netcoreapp2.1/gridfiles.csproj.CoreCompileInputs.cache
gridfiles/obj/Release/netcoreapp2.1/gridfiles.csproj.FileListAbsolute.txt
gridfiles/obj/Release/netcoreapp2.1/gridfiles.dll
gridfiles/obj/Release/netcoreapp2.1/gridfiles.pdb
gridfiles/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
gridfiles/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
gridfiles/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
gridfiles/bin/Release/netcoreapp2.1/gridfiles.pdb
gridfiles/bin/Debug/netcoreapp2.1/gridfiles.deps.json
gridfiles/bin/Debug/netcoreapp2.1/gridfiles.dll
gridfiles/bin/Debug/netcoreapp2.1/gridfiles.pdb
geokassa/bin/Debug/netcoreapp2.1/geokassa.deps.json
geokassa/bin/Debug/netcoreapp2.1/geokassa.dll
geokassa/bin/Debug/netcoreapp2.1/geokassa.pdb
geokassa/bin/Debug/netcoreapp2.1/geokassa.runtimeconfig.dev.json
geokassa/bin/Debug/netcoreapp2.1/geokassa.runtimeconfig.json
geokassa/bin/Debug/netcoreapp2.1/gridfiles.dll
geokassa/bin/Debug/netcoreapp2.1/gridfiles.pdb
geokassa/bin/Release/netcoreapp2.1/gridfiles.pdb
geokassa/bin/Release/netcoreapp2.1/geokassa.pdb
geokassa/bin/Release/netcoreapp2.1/publish/gridfiles.pdb
geokassa/bin/Release/netcoreapp2.1/publish/geokassa.pdb
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.csprojAssemblyReference.cache
geokassa/obj/geokassa.csproj.nuget.g.props
geokassa/obj/geokassa.csproj.nuget.g.targets
geokassa/obj/Debug/netcoreapp2.1/geokassa.Program.g.cs
gridfiles/obj/Debug/gridfiles.1.0.0.nuspec
gridfiles/obj/Release/gridfiles.1.0.0.nuspec
gridfiles/obj/Release/netcoreapp2.1/gridfiles.csprojAssemblyReference.cache
gridfiles/obj/gridfiles.csproj.nuget.g.props
geokassa/obj/Debug/geokassa.1.1.0.nuspec
geokassa/bin/Debug/geokassa.1.1.0.nupkg
geokassa/obj/Release/geokassa.1.1.0.nuspec
gridfiles/obj/gridfiles.csproj.nuget.g.targets
geokassatest/obj/geokassatest.csproj.nuget.cache
geokassatest/obj/geokassatest.csproj.nuget.g.props
geokassatest/obj/geokassatest.csproj.nuget.g.targets
geokassatest/obj/project.assets.json
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.AssemblyInfo.cs
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.AssemblyInfoInputs.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.assets.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.csproj.CopyComplete
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.csproj.CoreCompileInputs.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.csproj.FileListAbsolute.txt
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.csprojAssemblyReference.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.dll
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.pdb
geokassatest/obj/Debug/netcoreapp2.2/geokassatest.Program.cs
geokassatest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
geokassatest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
geokassatest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
geokassatest/bin/Debug/netcoreapp2.2/geokassatest.deps.json
geokassatest/bin/Debug/netcoreapp2.2/geokassatest.dll
geokassatest/bin/Debug/netcoreapp2.2/geokassatest.pdb
geokassatest/bin/Debug/netcoreapp2.2/geokassatest.runtimeconfig.dev.json
geokassatest/bin/Debug/netcoreapp2.2/geokassatest.runtimeconfig.json
geokassatest/bin/Debug/netcoreapp2.2/gridfiles.dll
geokassatest/bin/Debug/netcoreapp2.2/gridfiles.pdb
geokassatest/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
geokassatest/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
geokassatest/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
geokassatest/obj/geokassatests.csproj.nuget.cache
geokassatest/obj/geokassatests.csproj.nuget.g.props
geokassatest/obj/geokassatests.csproj.nuget.g.targets
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.AssemblyInfo.cs
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.AssemblyInfoInputs.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.assets.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.csproj.CopyComplete
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.csproj.CoreCompileInputs.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.csproj.FileListAbsolute.txt
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.csprojAssemblyReference.cache
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.dll
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.pdb
geokassatest/obj/Debug/netcoreapp2.2/geokassatests.Program.cs
geokassatest/bin/Debug/netcoreapp2.2/geokassatests.deps.json
geokassatest/bin/Debug/netcoreapp2.2/geokassatests.dll
geokassatest/bin/Debug/netcoreapp2.2/geokassatests.pdb
geokassatest/bin/Debug/netcoreapp2.2/geokassatests.runtimeconfig.dev.json
geokassatest/bin/Debug/netcoreapp2.2/geokassatests.runtimeconfig.json
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.AssemblyInfo.cs
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.AssemblyInfoInputs.cache
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.assets.cache
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.csproj.CopyComplete
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.csproj.CoreCompileInputs.cache
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.csproj.FileListAbsolute.txt
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.csprojAssemblyReference.cache
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.dll
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.pdb
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.Program.cs
geokassatest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
geokassatest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
geokassatest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
geokassatest/bin/Debug/netcoreapp2.1/geokassatests.deps.json
geokassatest/bin/Debug/netcoreapp2.1/geokassatests.dll
geokassatest/bin/Debug/netcoreapp2.1/geokassatests.pdb
geokassatest/bin/Debug/netcoreapp2.1/geokassatests.runtimeconfig.dev.json
geokassatest/bin/Debug/netcoreapp2.1/geokassatests.runtimeconfig.json
geokassatest/bin/Debug/netcoreapp2.1/gridfiles.dll
geokassatest/bin/Debug/netcoreapp2.1/gridfiles.pdb
geokassatest/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
geokassatest/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
geokassatest/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
gridfiles/obj/gridfiles.csproj.nuget.dgspec.json
gridfiles/obj/project.nuget.cache
gridfiles/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
geokassatest/obj/geokassatests.csproj.nuget.dgspec.json
geokassatest/obj/project.nuget.cache
geokassatest/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
geokassa/obj/geokassa.csproj.nuget.dgspec.json
geokassa/obj/project.nuget.cache
geokassatest/obj/Debug/netcoreapp2.1/geokassatests.genruntimeconfig.cache
geokassatest/bin/Release/netcoreapp2.1/gridfiles.pdb
geokassatest/bin/Release/netcoreapp2.1/geokassatests.pdb
geokassatest/obj/Release/netcoreapp2.1/geokassatests.AssemblyInfo.cs
geokassatest/obj/Release/netcoreapp2.1/geokassatests.AssemblyInfoInputs.cache
geokassatest/obj/Release/netcoreapp2.1/geokassatests.assets.cache
geokassatest/obj/Release/netcoreapp2.1/geokassatests.csproj.CopyComplete
geokassatest/obj/Release/netcoreapp2.1/geokassatests.csproj.CoreCompileInputs.cache
geokassatest/obj/Release/netcoreapp2.1/geokassatests.csproj.FileListAbsolute.txt
geokassatest/obj/Release/netcoreapp2.1/geokassatests.csprojAssemblyReference.cache
geokassatest/obj/Release/netcoreapp2.1/geokassatests.pdb
geokassatest/obj/Release/netcoreapp2.1/geokassatests.Program.cs
geokassatest/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
geokassatest/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
geokassatest/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
geokassatest/bin/Debug/netcoreapp2.1/geokassa.dll
geokassatest/bin/Debug/netcoreapp2.1/geokassa.pdb
geokassatest/bin/Release/netcoreapp2.1/geokassa.pdb
gridfiles/obj/Debug/netcoreapp2.1/gridfiles.assets.cache
gridfiles/obj/Release/netcoreapp2.1/gridfiles.assets.cache
geokassatest/obj/Release/netcoreapp2.1/geokassatests.dll
geokassa/bin/Debug/
geokassa/obj/
gridfiles/obj/
geokassatest/obj/
geokassa/bin/x64/Debug/geokassa.1.3.0.nupkg
geokassa/bin/x64/Debug/netcoreapp2.1/geokassa.deps.json
geokassa/bin/x64/Debug/netcoreapp2.1/geokassa.dll
geokassa/bin/x64/Debug/netcoreapp2.1/geokassa.pdb
geokassa/bin/x64/Debug/netcoreapp2.1/geokassa.runtimeconfig.dev.json
geokassa/bin/x64/Debug/netcoreapp2.1/geokassa.runtimeconfig.json
geokassa/bin/x64/Debug/netcoreapp2.1/gridfiles.dll
geokassa/bin/x64/Debug/netcoreapp2.1/gridfiles.pdb
geokassatest/bin/
gridfiles/bin/
.vs/
geokassa/bin/
x64/Release/netcoreapp2.1/
x64/Release/netcoreapp3.1/
